:root {
  font-family: 'inter', sans-serif;
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  background-color: aliceblue;
}

.site-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-container {
  margin-top: 50px;
}

.input-container input {
  width: 280px;
  font-family: 'inter', sans-serif;
  font-weight: 500;
}

.search-img {
  width: 20px;
}

.suggested-elements-outer {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  pointer-events: none;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

form>button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.suggested-elements {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  background-color: white
}

.suggested-text {
  pointer-events: auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.suggested-text:hover {
  background-color: rgb(212, 212, 212);

}

.map-outer {
  z-index: 0;
  margin-top: 50px;
  width: 100%;
  height: 88vh;
  margin-top: auto;
}